<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:replace="index :: nav"></nav>

<div class="container my-5">
    <div align="center"><h1>Add an information </h1></div>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/info/add}" th:object="${info}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="text" class="col-form-label">Enter the text: </label>
                            <input type="text" th:field="*{text}" class="form-control" id="text">
                            <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color: red">Text error</span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add information">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>