<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:replace="index :: nav"></nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${submits}" class="container my-5">
                <h5 align="right"><b><div><p class="sorting">Sorting by:</p>

                    </br></br><a th:href="@{'/list/page/' + ${currentPage} + '?sortField=name&sortDir=' +
                                ${reverseSortDir}}">Name</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a th:href="@{'/list/page/' + ${currentPage} + '?sortField=rank&sortDir=' +
                                ${reverseSortDir}}">Rank</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a th:href="@{'/list/page/' + ${currentPage} + '?sortField=wins&sortDir=' +
                                ${reverseSortDir}}">Wins</a>&nbsp;&nbsp;

                    <a th:href="@{'/list/page/' + ${currentPage} + '?sortField=score&sortDir=' +
                                ${reverseSortDir}}">Score</a>&nbsp;
                </div></b></h5></br>
                <div class="col-md-20">
                    <h2 th:case="null">No teams submitted</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">

                            <th>Name</th>
                            <th>Rank</th>
                            <th>Leader</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>Draws</th>
                            <th>Score</th>
                            <th><p style="color: red">Edit</p></th>
                            <th><p style="color: red">Delete</p></th>

                            <tbody th:each="submit : ${submits}">
                            <tr>
                                <td th:text="${submit.name}"></td>
                                <td th:text="${submit.rank}"></td>
                                <td th:text="${submit.leader}"></td>
                                <td th:text="${submit.wins}"></td>
                                <td th:text="${submit.loses}"></td>
                                <td th:text="${submit.draws}"></td>
                                <td th:text="${submit.score}"></td>
                                <td><a th:href="@{/edit/{id}(id=${submit.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/delete/{id}(id=${submit.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <td><a th:href="@{/deleteAll}" class="btn btn-primary">Delete all</a></td>
                    </div>
                    <div th:if="${totalPages > 1 }">
                        <div class = "row col sm-10">
                            <div class = "col sm-2">
                                Submitted teams: <b>[[${totalElements}]]</b>
                            </div>

                            <div class = "col sm-2">
                                <span th:each="i :${#numbers.sequence(1, totalPages)}">
                                    <b><a th:if="${currentPage != i}" th:href="@{'/list/page/' + ${i} + '?sortField=' +
                                     ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a></b>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>